body, html {
    height: 100%;
    width: 100%;
    padding: 5;
    margin: 5;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-error{
    background-color: pink;
    border-radius: 10px;
    height: 20px;
    text-align: left;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: darkred;
}

.message-info {
    background-color: lightblue;
    border-radius: 10px;
    height: 20px;
    text-align: left;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: darkblue;
}

.message-success{
    background-color: lightgreen;
    border-radius: 10px;
    height: 20px;
    text-align: left;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: darkgreen;
}

.message-warning{
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    height: 20px;
    text-align: left;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: darkgoldenrod;
}

