.jalopy-nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.home-title {
    text-align: center;
}

#home-img {
    display: block;
    margin: 0 auto;
    height: 200px;
}

h1 {
    background-color: lightgrey;
    text-align: center;
    border-radius: 5px;
}
a {
    /*background-color: navajowhite;*/
}
